<div class="row">
<div style="text-align:center" class="col-md-2">
  <button mat-raised-button color="primary" (click)="openModal()">Review</button>
</div> 
<div class="col-md-2">
<mat-form-field>
  <mat-select [(value)]="selected" (selectionChange)=onChangeofDropdown(); placeholder="Pick Date Here">
    <mat-option value="1">Past 24 hours</mat-option>
    <mat-option value="2">Past 2 Days</mat-option>
    <mat-option value="5">Past 5 Days</mat-option>
    <mat-option value="10">Past 10 Days</mat-option>
    <mat-option value="15">Past 15 Days</mat-option>
  </mat-select>
</mat-form-field>
</div>
<h1 style="
    color: goldenrod;
">WELCOME THE LORD OF THE ALL SEEING EYE</h1>
</div>

<div class="row">
<div class="right-component col-md-3"><app-left-component></app-left-component></div>
<div class="map-component col-md-9">
<agm-map [latitude]="lat" [longitude]="lng">
<agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
  <agm-marker  *ngFor="let location of locations" [latitude]="location.Latitude" [longitude]="location.Longitude"></agm-marker>
  </agm-marker-cluster>
</agm-map>
</div>
</div>
